-module({{packageName}}_api).

-export([populate_request/2]).
-export([validate_response/3]).

-type request_context() :: #{
    auth_context => AuthContext :: {{packageName}}_auth:context(),
    peer => client_peer()
}.

-type client_peer() :: #{
    ip_address => IP :: inet:ip_address(),
    port_number => Port :: inet:port_number()
}.

-type operation_id() :: atom().

-type api_key() :: binary().

-export_type([request_context/0]).
-export_type([client_peer/0]).
-export_type([operation_id/0]).
-export_type([api_key/0]).


-spec populate_request(
    operation_id(),
    cowboy_req:req()
) ->
    {ok, Model :: map(), Req :: cowboy_req:req()} |
    {error, Reason :: binary(), Req :: cowboy_req:req()}.

populate_request(OperationID, Req) ->
    Params = {{packageName}}_validation_schema:request_params(OperationID),
    populate_request_params(OperationID, Params, Req, #{}).

populate_request_params(_, [], Req, Model) ->
    {ok, Model, Req};

populate_request_params(OperationID, [FieldParams | T], Req0, Model) ->
    case populate_request_param(OperationID, FieldParams, Req0) of
        {ok, K, V, Req} ->
            populate_request_params(OperationID, T, Req, maps:put(K, V, Model));
        Error ->
            Error
    end.

populate_request_param(OperationID, Name, Req0) ->
    #{rules := Rules, source := Source} = {{packageName}}_validation_schema:request_param_info(OperationID, Name),
    case {{packageName}}_handler_utils:get_value(Source, Name, Req0) of
        {ok, Value, Req} ->
            case {{packageName}}_validation:prepare_request_param(Rules, Name, Value) of
                {ok, Result} ->
                    {ok, Name, Result, Req};
                {error, Error = #{type := _}}  ->
                    {error, error_message(Name, Error), Req}
            end;
        E = {error, _, _} ->
            E
    end.

-spec validate_response(
    operation_id(),
    200..599,
    jesse:json_term() | undefined
) ->
    ok | no_return().

validate_response(OperationID, Code, Body) ->
    ResponseSpec = {{packageName}}_validation_schema:response_data_info(OperationID, Code),
    ok = {{packageName}}_validation:validate_response(ResponseSpec, Body).

-spec error_message(
    {{packageName}}_validation_schema:param_name(),
    {{packageName}}_validation:validation_error()
) ->
    binary().

error_message(Name, Error = #{type := Type}) ->
    jsx:encode(#{
        <<"name">> => {{packageName}}_utils:to_binary(Name),
        <<"errorType">> => {{packageName}}_utils:to_binary(Type),
        <<"description">> => maps:get(description, Error, <<"">>)
    }).
