{{^isContainer}}{{#isString}}binary(){{/isString}}{{#isInteger}}integer(){{/isInteger}}{{#isLong}}integer(){{/isLong}}{{#isFloat}}float(){{/isFloat}}{{#isDouble}}float(){{/isDouble}}{{#isByteArray}}binary(){{/isByteArray}}{{#isBinary}}binary(){{/isBinary}}{{#isBoolean}}boolean(){{/isBoolean}}{{#isDate}}binary(){{/isDate}}{{#isDateTime}}binary(){{/isDateTime}}{{#isEnum}}{{#allowableValues}}{{#values}}'{{.}}'{{^-last}} | {{/-last}}{{/values}}{{/allowableValues}}{{/isEnum}}{{/isContainer}}
