-module({{packageName}}_custom_validator).
-export([validate_format/3]).

-type format()   :: atom().
-type value()    :: {{packageName}}:value().

-type validate_return() :: ok | {ok, term()} | pass | {error, term()}.

%% @TODO: Right now this callback won't be called when verifying formats of list members
-callback validate_format(format(), value()) ->
    validate_return().

-spec validate_format(format(), value(), module() | undefined) ->
    validate_return().
validate_format(_Format, _Value, undefined) ->
    pass;
validate_format(Format, Value, Module) ->
    Module:validate_format(Format, Value).
