-module({{packageName}}_default_logic_handler).

-behaviour({{packageName}}_logic_handler).

-export([handle_request/3]).
{{#authMethods}}
    {{#isApiKey}}
-export([authorize_api_key/2]).
    {{/isApiKey}}
{{/authMethods}}

{{#authMethods}}
    {{#isApiKey}}
-spec authorize_api_key({{packageName}}:operation_id(), {{packageName}}:api_key()) ->
    {true, undefined}.

authorize_api_key(_, _) ->
    {true, undefined}.
    {{/isApiKey}}
{{/authMethods}}

-spec handle_request({{packageName}}:operation_id(), {{packageName}}:object(), {{packageName}}:request_context()) ->
    {ok | error, {{packageName}}_logic_handler:response()}.

handle_request(OperationID, Request, Context) ->
    error_logger:error_msg(
        "Got not implemented request to process: ~p~n",
        [{OperationID, Request, Context}]
    ),
    {error, {501, [], undefined}}.
