-module({{packageName}}_default_logic_handler).

-behaviour({{packageName}}_logic_handler).

-export([handle_request/3]).
{{#authMethods}}
    {{#isApiKey}}
-export([authorize_api_key/2]).
    {{/isApiKey}}
{{/authMethods}}

{{#authMethods}}
    {{#isApiKey}}
-spec authorize_api_key({{packageName}}_api:operation_id(), {{packageName}}_api:api_key()) ->
    {true, undefined}.

authorize_api_key(_, _) ->
    {true, undefined}.
    {{/isApiKey}}
{{/authMethods}}

-spec handle_request({{packageName}}_api:operation_id(), cowboy_req:req(), {{packageName}}_api:request_context()) ->
    {{packageName}}_logic_handler:handler_response().

handle_request(OperationID, Req, Context) ->
    error_logger:error_msg(
        "Got not implemented request to process: ~p~n",
        [{OperationID, Req, Context}]
    ),
    {error, {501, [], undefined}}.
