-module({{packageName}}_logic_handler).

-export([handle_request/4]).

-type handler_opts(T)    :: T | undefined.
-type handler(T)         :: module() | {module(), handler_opts(T)}.
-type status()           :: {packageName}}:status().
-type headers()          :: {packageName}}:headers().
-type response_body()    :: {{packageName}}:object() | [{{packageName}}:object()] | undefined.
-type response()         :: {status(), headers(), response_body()}.

-export_type([handler/1]).
-export_type([handler_opts/1]).
-export_type([response_body/0]).
-export_type([response/0]).


%% Behaviour definition

{{#authMethods}}
    {{#isApiKey}}
-export([authorize_api_key/3]).
    {{/isApiKey}}
{{/authMethods}}

{{#authMethods}}
    {{#isApiKey}}
-callback authorize_api_key(
    OperationID :: {{packageName}}:operation_id(),
    ApiKey      :: {{packageName}}:api_key(),
    Opts        :: handler_opts(_)
) ->
    Result :: boolean() | {boolean(), {{packageName}}:auth_context()}.
    {{/isApiKey}}
{{/authMethods}}

-callback handle_request(
    OperationID :: {{packageName}}:operation_id(),
    Request     :: {{packageName}}:object(),
    Context     :: {{packageName}}:request_context(),
    Opts        :: handler_opts(_)
) ->
    {ok | error, response()}.

%% API

-spec handle_request(
    Handler     :: handler(_),
    OperationID :: {{packageName}}:operation_id(),
    Request     :: {{packageName}}:object(),
    Context     :: {{packageName}}:request_context()
) ->
    {ok | error, response()}.

handle_request(Handler, OperationID, Request, Context) ->
    {Module, Opts} = get_mod_opts(Handler),
    Module:handle_request(OperationID, Request, Context, Opts).

{{#authMethods}}
    {{#isApiKey}}
-spec authorize_api_key(
    Handler     :: handler(_),
    OperationID :: {{packageName}}:operation_id(),
    ApiKey      :: {{packageName}}:api_key()
) ->
    Result :: false | {true, {{packageName}}:auth_context()}.
authorize_api_key(Handler, OperationID, ApiKey) ->
    {Module, Opts} = get_mod_opts(Handler),
    Module:authorize_api_key(OperationID, ApiKey, Opts).
    {{/isApiKey}}
{{/authMethods}}

%% Internal functions

get_mod_opts(ModOpts= {_, _}) ->
    ModOpts;
get_mod_opts(Module) ->
    {Module, undefined}.
