{erl_opts, [
    {parse_transform, ct_expand}
]}.

{deps, [
    {jsx,         "2.8.2"},
    {pooler,      "1.5.0"},
    {rfc3339,     {git, "git@github.com:rbkmoney/rfc3339.git",     {ref, "5145e55768416c652f59e3cad9f23a2c0381cf0a"}}},
    {jesse,       {git, "git@github.com:rbkmoney/jesse.git",       {ref, "9ba37022130e789a40c827690ce95567980d85a1"}}},
    {parse_trans, {git, "git@github.com:rbkmoney/parse_trans.git", {ref, "5ee45f5bfa6c04329bea3281977b774f04c89f11"}}}
]}.
