{deps, [
    {jsx, "2.8.2"},
    {jesse, {git, "git@github.com:rbkmoney/jesse.git", {branch, "master"}}},
    {pooler, "1.5.0"},
    {rfc3339, {git, "git@github.com:rbkmoney/rfc3339.git", {branch, "master"}}}
]}.
