%% -*- mode: erlang -*-
-module({{classname}}).

%% generated methods
{{#operations}}{{#operation}}
-export([{{operationId}}/2]).
-export([{{operationId}}/3]).
{{/operation}}{{/operations}}
{{#operations}}{{#operation}}
-spec {{operationId}}(Endpoint::{{packageName}}:endpoint(), Params::map()) ->
    {ok, Code::integer(), RespHeaders::list(), RespBody::{ok, binary()}}.
{{operationId}}(Endpoint, Params) ->
    {{operationId}}(Endpoint, Params, []).

-spec {{operationId}}(Endpoint::{{packageName}}:endpoint(), Params::map(), Opts::{{packageName}}:transport_opts()) ->
    {ok, Code::integer(), RespHeaders::list(), RespBody::{ok, binary()}}.
{{operationId}}(Endpoint, Params, Opts) ->
    {{packageName}}_procession:process_request(
        {{httpMethod}},
        {{operationId}},
        {{packageName}}_utils:get_url(Endpoint, "{{basePathWithoutHost}}{{path}}"),
        Params,
        Opts
    ).
{{/operation}}{{/operations}}
