%% -*- mode: erlang -*-
-module({{packageName}}_procession).

-type state() :: #{
    operation_id := operation_id()
}.
-type operation_id() :: {{packageName}}:operation_id().
-type params() :: #{
    header      := any(),
    binding     := any(),
    body        := any(),
    qs_val      := any()
}.
-type opts()   :: {{packageName}}:transport_opts().
-type url()    :: string().
-type method() :: atom().
-type code()   :: pos_integer().

-export([process_request/5]).

-spec process_request(method(), operation_id(), url(), params(), opts()) ->
    {ok, code(), list(), {ok, binary()}} | {error, _Reason}.
process_request(Method, OperationID, Url, Params, Opts) ->
    State = #{
        operation_id => OperationID
    },

    case handle_request_json(Params, State) of
        {ok, PreparedUrlParams, PreparedHeaderParams, PreparedBodyParams, PreparedQueryParams} ->
            PreparedUrl = prepare_url(Url, PreparedUrlParams, PreparedQueryParams),
            PreparedHeaders = maps:to_list(PreparedHeaderParams),
            PreparedBody = jsx:encode(PreparedBodyParams),
            hackney:request(Method, PreparedUrl, PreparedHeaders, PreparedBody, [with_body] ++ Opts);
        {error, Reason} ->
            {error, Reason}
    end.

-spec handle_request_json(params(), state()) ->
    {ok, UrlParams::map(), HeaderParams::map(), BodyParams::map(), QueryParams::map()} | {error, term()}.
handle_request_json(RequestParams, #{operation_id := OperationID}) ->
    case populate_request(OperationID, RequestParams) of
        {ok, Params} ->
            {ok, maps:get(binding, Params), maps:get(header, Params), maps:get(body, Params), maps:get(qs_val, Params)};
        {error, Reason, _} ->
            {error, Reason}
    end.

-spec populate_request(operation_id(), params()) ->
    {ok, Params :: map()} | {error, Reason :: any(), Req :: term()}.
populate_request(OperationID, RequestParams) ->
    Params = {{packageName}}_params:request_params(OperationID),
    populate_request_params(OperationID, Params, RequestParams).

populate_request_params(_, [], RequestParams) ->
    {ok, RequestParams};
populate_request_params(OperationID, [FieldParams | T], RequestParams) ->
    case populate_request_param(OperationID, FieldParams, RequestParams) of
        {ok, _K, _V, RequestParams} ->
            populate_request_params(OperationID, T, RequestParams);
        Error ->
            Error
    end.

populate_request_param(OperationID, Name, RequestParams0) ->
    #{rules := Rules, source := Source} = {{packageName}}_params:request_param_info(OperationID, Name),
    {Value, RequestParams} = get_value(Source, Name, RequestParams0),
    case {{packageName}}_validation:prepare_request_param(Rules, Name, Value) of
        {ok, Result} -> {ok, Name, Result, RequestParams};
        {error, Reason} ->
            {error, Reason, RequestParams0}
    end.

-spec get_value(atom(), any(), params()) ->
    {any(), params()}.
get_value(body, _Name, RequestParams) ->
    Value = maps:get(body, RequestParams),
    {Value, RequestParams};
get_value(qs_val, Name, RequestParams) ->
    QueryParams = maps:get(qs_val, RequestParams),
    Value = get_opt({{packageName}}_utils:to_binary(Name), QueryParams),
    {Value, RequestParams};
get_value(header, Name, RequestParams) ->
    HeaderParams = maps:get(header, RequestParams),
    Value = get_opt({{packageName}}_utils:to_binary(Name), HeaderParams),
    {Value, RequestParams};
get_value(binding, Name, RequestParams) ->
    BindingParams = maps:get(binding, RequestParams),
    Value = get_opt({{packageName}}_utils:to_binary(Name), BindingParams),
    {Value, RequestParams}.


get_opt(Key, Opts) ->
    get_opt(Key, Opts, undefined).

get_opt(Key, Opts, Default) ->
    maps:get(Key, Opts, Default).


prepare_url(Url, Params, Qs) ->
    {{packageName}}_utils:fill_url(Url, Params, Qs).
