{erl_opts, [
    {parse_transform, ct_expand}
]}.

{deps, [
    {hackney,     "1.13.0"},
    {jsx,         "2.8.2"},
    {rfc3339,     "0.2.2"},
    {jesse,       {git, "https://github.com/rbkmoney/jesse.git",       {ref, "723e835708a022bbce9e57807ecf220b00fb771a"}}},
    {parse_trans, {git, "https://github.com/uwiger/parse_trans.git",   {ref, "76abb347c3c1d00fb0ccf9e4b43e22b3d2288484"}}}
]}.
